.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f3f3f3;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

.logo {
  height: 50px;
}

.profile {
  height: 40px;
  border-radius: 50%;
}
